%h2 Rounds
- if current_user.admin?
  = link_to 'Create New Round', new_round_path
  %br

- if rounds.present?
  %table.table.table-condensed
    - rounds.each do |round|
      %tr
        %td
          = link_to round.to_s, round

- else
  There are no Rounds

